Task.json
{
  "name": "Task",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "includeSpamTrash": false,
          "labelIds": [
            "INBOX"
          ]
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "id": "889bd354-a3b9-4537-a086-9cfc5e0ff444",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -3472,
        368
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "bT5J5NkxiwWrkJg3",
          "name": "ThisurakaWeerasekera"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Convert plain text draft to professional HTML email with corporate signature\nconst draft = $('Guardrails: Post RAG').first().json.guardrailsInput || '';\nconst emailData = $('Gmail Trigger').first().json;\n\n// Convert each line to an HTML paragraph, escape HTML entities\nconst lines = draft.split('\\n');\nlet htmlBody = '';\nfor (const line of lines) {\n  if (line.trim() === '') {\n    htmlBody += '<br>';\n  } else {\n    const escaped = line.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n    htmlBody += '<p style=\"margin: 0 0 8px 0;\">' + escaped + '</p>';\n  }\n}\n\nconst html = '<div style=\"font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #333333; line-height: 1.6;\">'\n  + htmlBody\n  + '<br>'\n  + '<div style=\"border-top: 2px solid #1B2A4A; padding-top: 12px; margin-top: 20px;\">'\n  + '<p style=\"margin: 0; font-weight: bold; color: #1B2A4A;\">ABC Company</p>'\n  + '<p style=\"margin: 2px 0; font-size: 12px; color: #666;\">hello@abccompany.io</p>'\n  + '<p style=\"margin: 2px 0; font-size: 12px; color: #666;\">Colombo | London | Melbourne</p>'\n  + '<p style=\"margin: 2px 0;\"><a href=\"https://www.abccompany.io\" style=\"color: #2C5282; font-size: 12px;\">www.abccompany.io</a></p>'\n  + '</div>'\n  + '</div>';\n\nreturn [{\n  json: {\n    html_reply: html,\n    plain_reply: draft,\n    subject: emailData.subject || '',\n    message_id: emailData.message_id || '',\n    thread_id: emailData.thread_id || '',\n    sender_email: emailData.sender_email || '',\n    attempts: $json.attempts || 1\n  }\n}];"
      },
      "id": "a99bef03-1f66-4a93-91b1-70de92ab0178",
      "name": "Code: Convert to HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        32
      ]
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "message": "={{ $json.html_reply }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "95afb85b-e5db-4ae7-958c-f555de62c726",
      "name": "Gmail: Reply",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1392,
        32
      ],
      "webhookId": "d527b9eb-b474-42c6-897a-de41323f03e5",
      "credentials": {
        "gmailOAuth2": {
          "id": "bT5J5NkxiwWrkJg3",
          "name": "ThisurakaWeerasekera"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ '[Subject: ' + ($json.subject || 'No subject') + '] [From: ' + ($json.sender || '') + '] ' + ($json.email_body || '') }}",
        "categories": {
          "categories": [
            {
              "category": "inquiry",
              "description": "New business inquiry, request for quote or proposal, question about services, pricing, capabilities, availability, or interest in starting a project. The sender is a potential or existing client interested in engaging ABC Company for a project or service."
            },
            {
              "category": "follow_up",
              "description": "Reply to an existing conversation or email thread. The sender is continuing a previous email exchange, referencing earlier discussions, or responding to something ABC Company previously sent. Often contains 'Re:' in the subject line."
            },
            {
              "category": "spam",
              "description": "Marketing email, promotional content, phishing attempt, automated message, mailer-daemon bounce notification, newsletter subscription, mass mailing, or unsolicited sales pitch from a vendor trying to sell to ABC Company."
            },
            {
              "category": "unrelated",
              "description": "Not a business inquiry, not spam, and not a follow-up. Examples: internal email sent to wrong address, personal message, job application, recruitment outreach, survey request, event invitation unrelated to ABC Company's services, or out-of-office auto-replies."
            }
          ]
        },
        "options": {}
      },
      "id": "d5be82ab-b244-45f1-833e-4eebe537b78d",
      "name": "Text Classifier",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        -3264,
        336
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-cat-inquiry",
              "name": "category",
              "value": "inquiry",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "405e171c-68a1-4a6d-a0a2-3504cc774ee7",
      "name": "Set: inquiry",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2880,
        80
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-cat-followup",
              "name": "category",
              "value": "follow_up",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "309d9cf0-fa8d-402f-b569-6e5ae7c878ac",
      "name": "Set: follow_up",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2880,
        256
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-cat-spam",
              "name": "category",
              "value": "spam",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "753458ce-783d-4f8b-bb6b-97338b84efac",
      "name": "Set: spam",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2880,
        432
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-cat-unrelated",
              "name": "category",
              "value": "unrelated",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "9fcf736c-7ced-4400-9be6-64d1d8e0a667",
      "name": "Set: unrelated",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2880,
        592
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-has-attachments",
              "leftValue": "={{ $binary && Object.keys($binary).length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a2dee2fb-e934-43c0-bfc4-98cb84eec8f7",
      "name": "IF: Has Attachments",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2656,
        80
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=file",
        "options": {}
      },
      "id": "00c4bcd2-e117-4515-814c-c2e3a963dc10",
      "name": "Extract PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -2048,
        -288
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{Object.values($('Gmail Trigger').item.binary)[0]?.mimeType}}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c282601e-bbb7-43da-bc9f-0a45729a16af"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a780e5bc-a554-4c59-846c-a13f9e3c43cd",
                    "leftValue": "={{Object.values($('Gmail Trigger').item.binary)[0]?.mimeType}}",
                    "rightValue": "text/csv",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CSV"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2256,
        -96
      ],
      "id": "fe6bd32d-ba24-4d01-81c9-05870c8c547f",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Email Content: {{ $('Gmail Trigger').item.json.text }}\n\nAttachment Content: {{ $('Merge Attachment Texts').item.json.attachment_text }}",
        "options": {
          "systemMessage": "You are a professional sales assistant for ABC Company, a full-service technology agency headquartered in Colombo, Sri Lanka with offices in London and Melbourne. You have 60 professionals, are ISO 27001 certified, and are an AWS Advanced Consulting Partner. Your job is to draft email replies to incoming business inquiries using the knowledge base search tool.\n\nHARD RULES — VIOLATIONS OF THESE ARE UNACCEPTABLE:\n- NEVER use placeholder text in square brackets. No [Name], [Sender's Name], [Company], [Your Name], or ANY [text in brackets]. If you do not know someone's name, use a generic greeting like \"Hello\" instead.\n- ALWAYS address the sender by their first name as shown in the From line of the email. Examples: \"Dear Dr. Roberts,\" or \"Hi Amara,\" or \"Hi Thomas,\". Do NOT extract names from attachment content.\n- NEVER invent or fabricate metrics. Only cite numbers that appear in KB tool search results. If a search returns no metric for a case study, do not guess one.\n- NEVER use markdown formatting. No ## headers, no **bold**, no *italic*, no []() links, no bullet points with *, no --- dividers. Write plain text only. Use line breaks and short paragraphs for structure.\n- NEVER reference internal KB document filenames like abc_03_case_studies.pdf or abc_05_pricing_guide.pdf. These are internal files that must never appear in client-facing emails.\n- NEVER invent case study names. You may only cite the 8 projects listed below.\n\nAVAILABLE CASE STUDIES (search the KB tool for details, metrics, and technologies — do not guess metrics):\n- NovaPay — Fintech\n- MediConnect — Healthcare\n- TradeNest — E-Commerce\n- InsightFlow — SaaS Analytics\n- SwiftRoute — Logistics\n- LearnSpark — EdTech\n- DwellDesk — PropTech\n- GlobalMed Supplies — Enterprise / SAP Integration\n\nMANDATORY SEARCH PROCESS — COMPLETE BEFORE DRAFTING:\nYou must perform at least 3 separate KB tool searches before writing any reply.\n\nStep 1: Identify the sender's industry from their email and attachment content (e.g., healthcare, logistics, e-commerce, fintech).\nStep 2: Search using the industry keyword combined with the project type. Example queries: \"healthcare patient portal\", \"logistics fleet management\", \"e-commerce marketplace platform\". Do NOT search generic terms like \"business inquiry\" or \"software project\".\nStep 3: Search for the matching case study by name to get exact metrics. Example: \"MediConnect case study results\" or \"SwiftRoute key results\".\nStep 4: Search for relevant services, pricing, and engagement models. Example: \"mobile app development pricing\" or \"dedicated team engagement model\".\nStep 5: If the sender mentions specific technologies or compliance requirements, search for those. Example: \"HIPAA compliance\" or \"SAP integration\" or \"Stripe Connect\".\n\nDRAFTING RULES:\n1. Open with the sender's name from the From header. Match their tone — formal for formal emails (\"Dear Dr. Roberts,\"), casual for casual ones (\"Hi Thomas,\").\n\n2. In your first paragraph, acknowledge their specific request. Name what they are asking for — do not write a generic \"thank you for reaching out\" without context.\n\n3. Cite at least one case study by its exact name with a concrete metric you found in the KB tool results. Pick the case study that matches the sender's industry. Example: \"In our MediConnect project, we onboarded 3,500 patients within 60 days and achieved a 67% reduction in appointment no-shows through automated reminders.\" If no case study matches the sender's industry, say \"we have delivered similar projects\" without naming one.\n\n4. Reference at least 3 specific items from the attachment content. Name specific features, quote exact budget figures, acknowledge timeline dates or milestones. Example: \"Your RFP lists telehealth video consultations and secure messaging as Must Have requirements — these are capabilities we built into the MediConnect patient portal.\" Do NOT say \"we will review your attachment\" or \"I noticed you mentioned an attachment.\"\n\n5. Answer every question the sender asked. If the KB has the answer, provide it directly. Do not defer questions to a call when you have enough context to respond.\n\n6. If a budget is mentioned, acknowledge the exact figure and compare it to pricing from KB results. If the budget is tight for the described scope, say so honestly and suggest phasing the work into stages.\n\n7. If the sender asks for a technical recommendation (e.g., native vs hybrid app, mobile app vs responsive website), give a clear recommendation with reasoning based on KB data. Do not defer technical recommendations to a call.\n\n8. If a submission deadline or timeline is mentioned (e.g., \"RFP Response Due June 30\"), acknowledge it and confirm you can meet it.\n\n9. If the sender requests a call or meeting, acknowledge that request and propose a next step: \"We would be happy to schedule a call to discuss your project in detail. Please let us know your availability, or reply with a few time slots that work for you.\"\n\n10. For RFPs with multiple requirements listed, address at least 5 specific requirements by name, and mention relevant technologies from the KB that match the sender's tech stack\n\n11. Sign off exactly as:\nBest regards,\nABC Company Sales Team\nhello@abccompany.io\n\nLENGTH AND TONE:\n- Emails with attachments or RFPs: 250 to 500 words. Cover the sender's requirements in detail.\n- Brief inquiries without attachments: 150 to 300 words. Focused but still substantive.\n- A reply under 150 words is almost certainly too generic. Every reply must contain specific details from KB results that prove you understood the sender's needs.\n- Match the sender's formality level. A formal RFP from a CTO gets a formal reply. An informal email gets a warm, conversational reply.\n\nEDGE CASES:\n- Brief or informal emails where the industry IS clear (they mention fleet tracking, patient portal, marketplace, etc.): Cite the matching case study with one specific metric from KB results. Brief does not mean generic.\n- Brief emails where the industry is genuinely ambiguous: Do not cite a case study. Ask clarifying questions about their needs.\n- Missing attachment content (email mentions an attachment but no content is provided): Do NOT say you cannot access the attachment. Acknowledge receipt and propose discussing the details on a call."
        }
      },
      "id": "a4985053-a9f0-4a9f-a2ec-267cc8d8c8b1",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -128,
        -144
      ]
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "flat_rock_test",
        "toolDescription": "Search ABC Company's knowledge base for information about services, pricing, portfolio/case studies, technology stack, team capabilities, engagement models, FAQs, and company policies. Use this tool to find accurate information before drafting a reply. Search multiple times with different queries to get comprehensive results.",
        "qdrantCollection": {
          "__rl": true,
          "value": "flat-rock-test",
          "mode": "list",
          "cachedResultName": "flat-rock-test"
        },
        "topK": 5,
        "options": {}
      },
      "id": "1717b3d5-14d2-41f4-bdbc-3796350c9ac1",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        0,
        64
      ],
      "credentials": {
        "qdrantApi": {
          "id": "b6ziC8QdM0vyOBWr",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "e09adb06-fedd-41d9-ac35-fe5e74e3eaec",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        16,
        496
      ],
      "credentials": {
        "openAiApi": {
          "id": "yKdIsoWDAp0r9m0a",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "text": "=User Email Content: {{ $('Gmail Trigger').item.json.text }}\n\n{{ $binary && Object.keys($binary).length > 0 \n  ? 'Attachment Content: ' + $('Merge Attachment Texts').item.json.attachment_text \n  : '' }}",
        "guardrails": {
          "jailbreak": {
            "value": {
              "threshold": 0.7
            }
          },
          "nsfw": {
            "value": {
              "threshold": 0.7
            }
          },
          "topicalAlignment": {
            "value": {
              "threshold": 0.7,
              "prompt": "You are a topical-alignment evaluator for ABC Company's inbound email system.\n\nCOMPANY PROFILE:\nABC Company is a full-service technology agency that designs, builds, and maintains custom software solutions.\n\nCORE SERVICES (on-topic if the inquiry relates to any of these):\n- Custom web application development\n- Mobile application development (iOS, Android, cross-platform)\n- Cloud infrastructure & DevOps consulting\n- AI / Machine Learning solutions\n- UI/UX design and prototyping\n- Quality assurance & software testing\n- Staff augmentation (developers, QA, DevOps engineers)\n- Software maintenance & ongoing support\n- Technical consulting & fractional CTO services\n\nINDUSTRY VERTICALS (on-topic — ABC Company has domain expertise here):\n- Fintech & financial services\n- Healthcare & health-tech (including HIPAA/regulatory compliance)\n- E-Commerce & retail platforms\n- SaaS products\n- Logistics & supply chain\n- EdTech & e-learning\n- PropTech & real estate technology\n- Media & entertainment\n\nON-TOPIC — allow these through:\n1. New business inquiries asking about any of the above services or verticals\n2. Requests for proposal (RFP), requests for quote (RFQ), or pricing questions\n3. Questions about ABC Company's capabilities, availability, team, or process\n4. Follow-up replies continuing an existing business conversation\n5. Partnership or subcontracting proposals related to software/technology\n6. Meeting or demo scheduling requests from prospective or existing clients\n7. Forwarded content that contains a genuine business inquiry overlay, even if the forwarded portion itself is promotional\n\nOFF-TOPIC — flag these as violations:\n1. Job applications, recruitment outreach, or resume submissions\n2. Marketing emails, newsletters, or promotional blasts selling TO ABC Company\n3. Personal messages unrelated to any business engagement\n4. Inquiries about services ABC Company does not offer (e.g., physical construction, catering, legal counsel, accounting, non-tech recruitment)\n5. Survey requests, event invitations, or charity solicitations with no technology project component\n6. Automated system notifications, bounces, or out-of-office replies (note: these should already be caught by pre-filters, but flag them if they reach this stage)\n\nEDGE CASE GUIDANCE:\n- If an email is from an unfamiliar industry BUT asks about software development, cloud, AI, or any core service → ON-TOPIC (ABC Company serves diverse verticals)\n- If an email mentions a technology project but the primary ask is non-technical (e.g., \"we need legal advice for our app\") → OFF-TOPIC\n- If uncertain whether the inquiry relates to ABC Company's services → lean ON-TOPIC (false negatives are costlier than false positives at this stage, since human approval follows)\n\nEvaluate the provided text and determine whether it falls within ABC Company's business scope."
            }
          }
        }
      },
      "id": "4d423ccb-4043-4c81-b4d9-4957b730596d",
      "name": "Guardrails: Pre RAG",
      "type": "@n8n/n8n-nodes-langchain.guardrails",
      "typeVersion": 1,
      "position": [
        -528,
        80
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.output.draft_reply }}",
        "guardrails": {
          "nsfw": {
            "value": {
              "threshold": 0.7
            }
          }
        }
      },
      "id": "1875acf2-6aae-4aea-91c6-91524b9836c2",
      "name": "Guardrails: Post RAG",
      "type": "@n8n/n8n-nodes-langchain.guardrails",
      "typeVersion": 1,
      "position": [
        320,
        64
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68f1b099-e6c3-4358-82e5-953c12102990",
              "name": "attachment_text",
              "value": "={{ Object.values($('Gmail Trigger').item.binary)[0]?.mimeType === 'application/pdf'\n    ? $json.text\n    : $json.features\n}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1664,
        -80
      ],
      "id": "c272c477-5882-41e3-9d0b-b1448b88290e",
      "name": "Merge Attachment Texts"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "C0B9E035J83"
        },
        "message": "Okay to proceed?",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "id": "7c5be0d5-e1a9-497d-8d46-494ee37275b7",
      "name": "Slack: Send and Wait",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        832,
        48
      ],
      "webhookId": "wf6-approval-webhook",
      "credentials": {
        "slackApi": {
          "id": "Z2DYrW1q0cWw7Z67",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "35a167e2-b27a-4f52-9eab-d29b3607532b",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1008,
        48
      ],
      "id": "db7cd4b4-9029-4882-b83a-03a97fc9077c",
      "name": "Approved?"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "C0B9E035J83"
        },
        "messageType": "block",
        "blocksUi": "={{\nJSON.stringify({\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"📬 New Sales Inquiry: Approval Required\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*From:*\\n\" + ($('Gmail Trigger').first().json.from?.text || 'Unknown') + \"\\n\\n*Subject:*\\n\" + ($('Gmail Trigger').first().json.subject || '(No Subject)')\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*📩 Original Email*\\n```\" + ($('Gmail Trigger').first().json.text || '') + \"```\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*✍️ Drafted Reply*\\n```\" + ($json.guardrailsInput || '') + \"```\"\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"🤖 Auto-drafted by AI Agent · Awaiting human approval\"\n        }\n      ]\n    }\n  ]\n})\n}}",
        "otherOptions": {}
      },
      "id": "ae034643-da33-4918-a6e8-edc0fde639d8",
      "name": "Slack: Send",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        656,
        48
      ],
      "webhookId": "wf6-approval-webhook",
      "credentials": {
        "slackApi": {
          "id": "Z2DYrW1q0cWw7Z67",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e095329-519c-4fd0-990c-859747360a41",
              "name": "mime_type",
              "value": "={{\n  $('Gmail Trigger').item.binary\n    ? Object.values($('Gmail Trigger').item.binary)[0]?.mimeType\n    : \"\"\n}}\n\n",
              "type": "string"
            },
            {
              "id": "5c8e46cd-3264-44be-80ae-8776d5d8ec71",
              "name": "file",
              "value": "={{ \n  $('Gmail Trigger').item.binary\n    ? Object.keys($('Gmail Trigger').item.binary)[0]\n    : \"\"\n}}",
              "type": "binary"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2464,
        -96
      ],
      "id": "a54b3111-25e5-4eeb-aafd-b7aca668853e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "binaryPropertyName": "file",
        "options": {}
      },
      "id": "9f4d59bf-669d-45b8-acdb-ec1c3d94b474",
      "name": "Extract CSV",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -2048,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\n\nreturn [\n  {\n    json: {\n      features: JSON.stringify(rows.map(r => r.json), null, 2)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1872,
        -80
      ],
      "id": "102eefa5-6e87-4a51-83ca-4beeb785ef66",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "549b6898-ab58-4c74-86c9-0709b8be0e8b",
      "name": "gpt-04-mini",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -2880,
        880
      ],
      "credentials": {
        "openAiApi": {
          "id": "yKdIsoWDAp0r9m0a",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0
        }
      },
      "id": "e417755e-b2c7-43d1-99d8-8e3d0d5146cc",
      "name": "gpt-4",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -128,
        64
      ],
      "credentials": {
        "openAiApi": {
          "id": "yKdIsoWDAp0r9m0a",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1EnaWhd84VUWwGVhjmGYA1PV7MSlrQz3JftjzkNny0ts",
          "mode": "list",
          "cachedResultName": "FlatRockTest Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EnaWhd84VUWwGVhjmGYA1PV7MSlrQz3JftjzkNny0ts/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 632835470,
          "mode": "list",
          "cachedResultName": "Non-Inquiry",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EnaWhd84VUWwGVhjmGYA1PV7MSlrQz3JftjzkNny0ts/edit#gid=632835470"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "35e81f76-99a9-4dff-928f-afb0e0cf3c95",
      "name": "Log Non-Inquiry",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2448,
        416
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tN4a9rWvz0TexrKk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "C0B9E035J83"
        },
        "text": "=🔄 Follow-up Email Received\n\nFrom: {{ $('Gmail Trigger').item.json.text }}\nSubject: {{ $('Gmail Trigger').item.json.subject }}\n\nThis is a reply to an existing conversation. Please check your inbox.",
        "otherOptions": {}
      },
      "id": "16632221-5a20-49a6-bad9-b6a8ba19d8b8",
      "name": "Slack: Follow-up Alert2",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        -2656,
        256
      ],
      "webhookId": "bf34b702-467e-49de-8d46-4d8df6418a87",
      "credentials": {
        "slackApi": {
          "id": "Z2DYrW1q0cWw7Z67",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "text": "=Subject: {{ $('Gmail Trigger').item.json.subject }}\nFrom: {{ $('Gmail Trigger').item.json.from.text }}\nBody: {{ $('Gmail Trigger').item.json.text }}\nAttachment: {{ $('Merge Attachment Texts').item.json.attachment_text }}\n\n",
        "attributes": {
          "attributes": [
            {
              "name": "sender_name",
              "description": "Full name of the sender from the From header",
              "required": true
            },
            {
              "name": "sender_email",
              "description": "Email address of the sender",
              "required": true
            },
            {
              "name": "company_name",
              "description": "Company or organization name if mentioned"
            },
            {
              "name": "industry",
              "description": "Best guess industry: fintech, healthcare, e-commerce, logistics, edtech, proptech, saas, enterprise, or other",
              "required": true
            },
            {
              "name": "project_type",
              "description": "Brief description of what they want built",
              "required": true
            },
            {
              "name": "requirements",
              "description": "Comma-separated list of specific features or capabilities requested"
            },
            {
              "name": "technologies_mentioned",
              "description": "Comma-separated tech stack preferences mentioned by sender"
            },
            {
              "name": "confidence",
              "type": "number",
              "description": "Float between 0.0 and 1.0 indicating how complete and clear the extracted data is. Lower if key fields are ambiguous, missing, or contradictory",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "id": "dfda5b7c-e8c7-485c-aa74-94ec4ee6861b",
      "name": "Extract Inquiry Data",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        -1472,
        96
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1EnaWhd84VUWwGVhjmGYA1PV7MSlrQz3JftjzkNny0ts",
          "mode": "list",
          "cachedResultName": "FlatRockTest Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EnaWhd84VUWwGVhjmGYA1PV7MSlrQz3JftjzkNny0ts/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EnaWhd84VUWwGVhjmGYA1PV7MSlrQz3JftjzkNny0ts/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sender_name": "={{ $json.output.sender_name }}",
            "sender_email": "={{ $json.output.sender_email }}",
            "industry": "={{ $json.output.industry }}",
            "company_name": "={{ $json.output.company_name }}",
            "requirements": "={{ $json.output.requirements }}",
            "project_type": "={{ $json.output.project_type }}",
            "confidence": "={{ $json.output.confidence }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sender_name",
              "displayName": "sender_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sender_email",
              "displayName": "sender_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "project_type",
              "displayName": "project_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "requirements",
              "displayName": "requirements",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ea1c2d91-08ce-4dd8-b79f-bec4b3961f3c",
      "name": "Log to Pipeline Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1152,
        96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tN4a9rWvz0TexrKk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "confidence-check-001",
              "leftValue": "={{ $('Extract Inquiry Data').item.json.output.confidence }}",
              "rightValue": 0.7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "31360e19-7107-445e-8b0a-d0773f3619b3",
      "name": "IF: High Confidence",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -944,
        96
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "C0B9E035J83"
        },
        "text": "=⚠️ Low-Confidence Inquiry — Needs Manual Review\n\nFrom: {{ $('Extract Inquiry Data').item.json.output.sender_name }} ({{ $('Extract Inquiry Data').item.json.output.sender_email }})\nSubject: {{ $('Gmail Trigger').item.json.subject }}\nConfidence: {{ $('Extract Inquiry Data').item.json.output.confidence }}\n\nThe AI could not confidently extract all details from this inquiry. Please review the original email and respond manually.",
        "otherOptions": {}
      },
      "id": "ad4b827c-270a-462b-8a79-b781ac6090fb",
      "name": "Slack: Flag Low Confidence",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        -752,
        176
      ],
      "webhookId": "b89bfd80-50c9-49f8-93fb-feb460db3d97",
      "credentials": {
        "slackApi": {
          "id": "Z2DYrW1q0cWw7Z67",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "C0B9E035J83"
        },
        "text": "=🚨 Safety Guardrail Triggered\n\nFrom: {{ $('Gmail Trigger').item.json.from.text }}\nSubject: {{ $('Gmail Trigger').item.json.subject }}\n\nThis email was blocked by safety guardrails. Please review the original email manually.\n",
        "otherOptions": {}
      },
      "id": "9e551366-f00c-485f-a4c9-147b4ede3837",
      "name": "Slack: Guardrail Block",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        752,
        336
      ],
      "webhookId": "e83930f4-012b-48a0-9da7-17968fce7f26",
      "credentials": {
        "slackApi": {
          "id": "Z2DYrW1q0cWw7Z67",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "C0B9E035J83"
        },
        "text": "=❌ Draft Reply Rejected\n\nSubject: {{ $('Gmail Trigger').item.json.subject }}\nFrom: {{ $('Gmail Trigger').item.json.from.text }}\n\nThe AI-drafted reply was rejected. Please reply to this email manually from your inbox.",
        "otherOptions": {}
      },
      "id": "3aab94a1-50fc-40b9-b264-044ebd64877b",
      "name": "Slack: Draft Rejected",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1248,
        336
      ],
      "webhookId": "fc248288-9714-4976-a16c-31372b7a84e1",
      "credentials": {
        "slackApi": {
          "id": "Z2DYrW1q0cWw7Z67",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"draft_reply\": \"The complete email reply text in plain text, ready to send to the client\",\n  \"case_studies_cited\": \"Comma-separated names of ABC Company case studies referenced in the reply (e.g. TradeNest, MediConnect)\",\n  \"engagement_model\": \"Recommended engagement model: project-based, dedicated-team, or staff-augmentation\",\n  \"budget_assessment\": \"Budget fit assessment: within-range, tight, over-budget, or not-specified\",\n  \"key_requirements_addressed\": \"Comma-separated list of the main client requirements addressed in the reply\"\n}",
        "options": {}
      },
      "id": "f1a00001-0010-4000-a000-000000000010",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -128,
        64
      ]
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "19eb8340e710e53b",
          "threadId": "19eb8340e710e53b",
          "labelIds": [
            "UNREAD",
            "CATEGORY_PERSONAL",
            "INBOX"
          ],
          "sizeEstimate": 11080,
          "headers": {
            "delivered-to": "Delivered-To: thisurakaweerasekera@gmail.com",
            "received": "Received: from mail-sor-f41.google.com (mail-sor-f41.google.com. [209.85.220.41])\r\n        by mx.google.com with SMTPS id d75a77b69052e-517fb704ae4sor1633761cf.6.2026.06.11.12.41.19\r\n        for <thisurakaweerasekera@gmail.com>\r\n        (Google Transport Security);\r\n        Thu, 11 Jun 2026 12:41:19 -0700 (PDT)",
            "x-received": "X-Received: by 2002:a05:622a:178f:b0:517:9648:f725 with SMTP id\r\n d75a77b69052e-517ee26961dmr63818621cf.50.1781206879344; Thu, 11 Jun 2026\r\n 12:41:19 -0700 (PDT)",
            "arc-seal": "ARC-Seal: i=1; a=rsa-sha256; t=1781206879; cv=none;\r\n        d=google.com; s=arc-20240605;\r\n        b=PHTQ/zxMdxjQD8xgc6E2ggakl4NmpVHpUNWtObEROIZXQDkO1HPmYN3Ypa7i3Gugig\r\n         IWPb6JV45edAQQQ0osC+0bmPY4ZfraYfHDCEA9xIRDWj28IRWysPZIzIxxOyQ6WQ67lY\r\n         ym/pRl/SKfbM+dX91KGUzjeHjehEf7RYlg14WJb1xWwtTzQJFlebhNOCtAHNaIng7Aq/\r\n         fOkCiKAaLK1DBLFLLeWGn04/a+gE1Cna4867z5KVvtXf8y1qbhBWDVegTKmimoWygvWy\r\n         tHtu6r5+p0wn/dhfbn9JluQeAkx8HEmjbl9wWkWw03uCsyYQrt8D7XipM2yUJx5pp6tq\r\n         YTVQ==",
            "arc-message-signature": "ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20240605;\r\n        h=to:subject:message-id:date:from:mime-version:dkim-signature;\r\n        bh=daNwTnLpVhcUCrwNHTzgHgUKd2EwU8/4aFpk942erBE=;\r\n        fh=70tqIWZrrh4KwWS2eyZ3Zpi75oKCy7rSMdYdlu/UE6U=;\r\n        b=VehjCHEqGXr3nsF/dXCQnpd7XsqKxyyy3El+U8ru6i/XS0srsJJR+9WuIwBB+wwJ8e\r\n         nGOpvCwkuw1lRtiKMwIYoaHfQIZOmRkHXnPPWdub7zEzHy6z8ninOWFgtq/0lybk/szL\r\n         HAzfTqMIbHuoi3fIZs0oOEjK6/FpDpJf4LXgfZhZfNU6YrorLliIc2/y+sWyBEuHALox\r\n         4oe406F7eNyZ+fGYs6Y7u2D5sF01VbMVH7oo9lCer6WhLkxzEmLXv2T92BhB0yLIBOCs\r\n         u1swT48wnbCM8Y+tmM+cHIcaRTORXhq4pTfp9MV1qjTvyfxn4H+nFCHKxkaZg1nI3LoM\r\n         +S4Q==;\r\n        dara=google.com",
            "arc-authentication-results": "ARC-Authentication-Results: i=1; mx.google.com; arc=none",
            "return-path": "Return-Path: <thisurakadev@gmail.com>",
            "received-spf": "Received-SPF: pass (google.com: domain of thisurakadev@gmail.com designates 209.85.220.41 as permitted sender) client-ip=209.85.220.41;",
            "authentication-results": "Authentication-Results: mx.google.com;\r\n       dkim=pass header.i=@gmail.com header.s=20251104 header.b=bVBGjQEL;\r\n       arc=pass (i=1);\r\n       spf=pass (google.com: domain of thisurakadev@gmail.com designates 209.85.220.41 as permitted sender) smtp.mailfrom=thisurakadev@gmail.com;\r\n       dmarc=pass (p=NONE sp=QUARANTINE dis=NONE) header.from=gmail.com;\r\n       dara=pass header.i=@gmail.com",
            "dkim-signature": "DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=gmail.com; s=20251104; t=1781206879; x=1781811679; dara=google.com;\r\n        h=to:subject:message-id:date:from:mime-version:from:to:cc:subject\r\n         :date:message-id:reply-to;\r\n        bh=daNwTnLpVhcUCrwNHTzgHgUKd2EwU8/4aFpk942erBE=;\r\n        b=bVBGjQELgi5OABUBP0ahnMcm8OBYG7q1XYuozDFV8EExwJqbbJu44R5gxmmInbpgyK\r\n         1HfSwSp8ywwXaeJETs5SpDjzCoKOznSp8Gxu5mQdKfgSrbDE968InuNVwq/252OV6BeT\r\n         26xyoO4xKikJjp/EM+1T55ZAzlxNKa3Dl21zrjENQAL0laeOQjEEQwoFbu8EqTh5htLb\r\n         VbpCZKsoz+zVGLRdT0N26yRIVHzBtE8mUOjU1XTIAACwWMrlRgkaUIjBo6dlFTjkSuqh\r\n         9JRvvHW9P0aHbEEpE8v7QVcUDiC95jj/yl/AWm8Yj5frJFQMGRd5WoF06OLSJm1rQBB4\r\n         aEHQ==",
            "x-google-dkim-signature": "X-Google-DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=1e100.net; s=20251104; t=1781206879; x=1781811679;\r\n        h=to:subject:message-id:date:from:mime-version:x-gm-gg\r\n         :x-gm-message-state:from:to:cc:subject:date:message-id:reply-to;\r\n        bh=daNwTnLpVhcUCrwNHTzgHgUKd2EwU8/4aFpk942erBE=;\r\n        b=XPPYMi+BNRqsgqduRXb27hDobTuBjLh4PSgpIesCh/pnMWNzE/BfPqcPNMZF3dkczl\r\n         qT+26srswBZEK4C1U+UZW9Qfz9WXxDR9BfMBcJHPAfpMIFyAT/L51MLMCRREn72+CMJN\r\n         cOrYZuKEXonNyCKjdU5RV+q9VKiosGlowEBZM3maiebFnjJdqmuFXETncj18cWNAmcby\r\n         vDSRd2qVcPdVnP2sqlWY1rfzFuvWixjpAtUO2cI4pNCK/z6HR5ha4+oW0ur8DAwD5aad\r\n         uMDoy1nxf7++bv4MerhgBqovbA/hPvR6Idlf7Ahp6qWRe7aKfQbnFpDIKuqeZD6STbEZ\r\n         E+Tw==",
            "x-gm-message-state": "X-Gm-Message-State: AOJu0YyybM75vnebFQW1HigKPdRSW0r6Q0M0h1Jtnk5mHflzzl1OGJxs\r\n\tKih1JRhyI8hVYdRciptn/vjAmCMIRJ/UGMxsMkk0rorbM/mJ+0JnYDOqy4nQxFEjKBA2gQN2YdV\r\n\tE8Dg/ufncGMavPQuTBsfdxVIx/el5G6XXNL1Y",
            "x-gm-gg": "X-Gm-Gg: Acq92OHHGa8ia9TH4g+hgs4JDGl1uksh/asRKcnPc99hDnwDAn/7Qtx+DHAxM6wbm6P\r\n\tB4/3nNajU97JLRK9Sn6QgQ3/mXAg+p9eYI+1s/anXTM63nNxJ+dkMxj3UERZq6z9fz5UPnap+8T\r\n\tR09fUnR7CguKyVDl6B5AeSZeoBQ+1e3gNVspQeXuZGhdGv3sXXMOWBpu3vXi4AVP4Kq78/ByX/S\r\n\t6YU0HEfP+sIA3SSZhC5BJ92a59W1yjaN02NPBOmcfrCMbth9X+In7Naf/s76ewRHghZjgliqGk0\r\n\tVfQwk5/IKvufvDeM583jY7QPQGL3/3En4sFksr/7KnC4MbhPOdW2jRW4pMhA605ZVKZ6/J7rNdU\r\n\t=",
            "mime-version": "MIME-Version: 1.0",
            "from": "From: Thisuraka Weerasekera <thisurakadev@gmail.com>",
            "date": "Date: Fri, 12 Jun 2026 01:11:10 +0530",
            "x-gm-features": "X-Gm-Features: AVVi8Cf9VsgyGEuiZGCNAB_s7vko4XqLi5NsX9CVjQAh-HqufnTIfBNzKv0mPVs",
            "message-id": "Message-ID: <CACyEFQhFevmWuwTyygOkR+8U0X+qjL1aVuzmXHzPQ1VwVz4E3w@mail.gmail.com>",
            "subject": "Subject: Tech Requirements for Marketplace Platform",
            "to": "To: \"thisurakaweerasekera@gmail.com\" <thisurakaweerasekera@gmail.com>",
            "content-type": "Content-Type: multipart/mixed; boundary=\"00000000000050ec570653ff8b23\""
          },
          "html": "<div dir=\"ltr\">Hello,<br><br>We&#39;re building a luxury goods marketplace and have put together our initial requirements in the attached spreadsheet. It&#39;s still a rough draft — some items might change after our internal review next week.<br><br>We haven&#39;t finalized a budget yet but we&#39;re thinking somewhere in the $80-120K range. Not sure if that&#39;s realistic — would appreciate your honest feedback.<br><br>Also, we&#39;re debating between building a mobile app vs just making the website mobile-responsive. What would you recommend?<br><br>Thanks,<br>Amara Okafor<br>Founder, LuxeMarket<br></div>\n",
          "text": "Hello,\n\nWe're building a luxury goods marketplace and have put together our initial\nrequirements in the attached spreadsheet. It's still a rough draft — some\nitems might change after our internal review next week.\n\nWe haven't finalized a budget yet but we're thinking somewhere in the\n$80-120K range. Not sure if that's realistic — would appreciate your honest\nfeedback.\n\nAlso, we're debating between building a mobile app vs just making the\nwebsite mobile-responsive. What would you recommend?\n\nThanks,\nAmara Okafor\nFounder, LuxeMarket\n",
          "textAsHtml": "<p>Hello,</p><p>We&apos;re building a luxury goods marketplace and have put together our initial<br/>requirements in the attached spreadsheet. It&apos;s still a rough draft &mdash; some<br/>items might change after our internal review next week.</p><p>We haven&apos;t finalized a budget yet but we&apos;re thinking somewhere in the<br/>$80-120K range. Not sure if that&apos;s realistic &mdash; would appreciate your honest<br/>feedback.</p><p>Also, we&apos;re debating between building a mobile app vs just making the<br/>website mobile-responsive. What would you recommend?</p><p>Thanks,<br/>Amara Okafor<br/>Founder, LuxeMarket</p>",
          "subject": "Tech Requirements for Marketplace Platform",
          "date": "2026-06-11T19:41:10.000Z",
          "to": {
            "value": [
              {
                "address": "thisurakaweerasekera@gmail.com",
                "name": ""
              }
            ],
            "html": "<span class=\"mp_address_group\"><a href=\"mailto:thisurakaweerasekera@gmail.com\" class=\"mp_address_email\">thisurakaweerasekera@gmail.com</a></span>",
            "text": "thisurakaweerasekera@gmail.com"
          },
          "from": {
            "value": [
              {
                "address": "thisurakadev@gmail.com",
                "name": "Thisuraka Weerasekera"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Thisuraka Weerasekera</span> &lt;<a href=\"mailto:thisurakadev@gmail.com\" class=\"mp_address_email\">thisurakadev@gmail.com</a>&gt;</span>",
            "text": "\"Thisuraka Weerasekera\" <thisurakadev@gmail.com>"
          },
          "messageId": "<CACyEFQhFevmWuwTyygOkR+8U0X+qjL1aVuzmXHzPQ1VwVz4E3w@mail.gmail.com>"
        },
        "binary": {
          "attachment_0": {
            "mimeType": "text/csv",
            "fileType": "text",
            "fileExtension": "csv",
            "data": "filesystem-v2",
            "fileName": "luxemarket_requirements.csv",
            "id": "filesystem-v2:workflows/QTpdj8ILRthKhdSA/executions/temp/binary_data/11f28c0d-a035-4c35-acf0-419a984bc8ca",
            "fileSize": "1.7 kB",
            "bytes": 1699
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Convert to HTML": {
      "main": [
        [
          {
            "node": "Gmail: Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail: Reply": {
      "main": [
        []
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Set: inquiry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set: follow_up",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set: spam",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set: unrelated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: inquiry": {
      "main": [
        [
          {
            "node": "IF: Has Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Has Attachments": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Inquiry Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF": {
      "main": [
        [
          {
            "node": "Merge Attachment Texts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Guardrails: Post RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardrails: Pre RAG": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack: Guardrail Block",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Attachment Texts": {
      "main": [
        [
          {
            "node": "Extract Inquiry Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack: Send and Wait": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardrails: Post RAG": {
      "main": [
        [
          {
            "node": "Slack: Send",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack: Guardrail Block",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Code: Convert to HTML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack: Draft Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack: Send": {
      "main": [
        [
          {
            "node": "Slack: Send and Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract CSV": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge Attachment Texts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-04-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Guardrails: Pre RAG",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Guardrails: Post RAG",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Extract Inquiry Data",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Set: follow_up": {
      "main": [
        [
          {
            "node": "Slack: Follow-up Alert2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack: Follow-up Alert2": {
      "main": [
        [
          {
            "node": "Log Non-Inquiry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: spam": {
      "main": [
        [
          {
            "node": "Log Non-Inquiry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: unrelated": {
      "main": [
        [
          {
            "node": "Log Non-Inquiry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Inquiry Data": {
      "main": [
        [
          {
            "node": "Log to Pipeline Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Pipeline Sheet": {
      "main": [
        [
          {
            "node": "IF: High Confidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: High Confidence": {
      "main": [
        [
          {
            "node": "Guardrails: Pre RAG",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack: Flag Low Confidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "52c61dfb-5223-48c0-9cc6-17a63faa58ad",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cc8ab8ef167f079a4b5aac88a5ebc7299220f762da84c9209b04000df0f47a9a"
  },
  "nodeGroups": [],
  "id": "QTpdj8ILRthKhdSA",
  "tags": []
}